html, body, div, p {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
}

body.neurosmart-application {
	height: 100vh;
	overflow:hidden;
}

video, audio {
	display: block;
}

iframe {
	border:none;
}

.neurosmart {
	background-color: white;
	min-width: 600px;
	min-height: 400px;
	width:100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	box-sizing: border-box;
	font-family: Helvetica, Arial, "sans-serif";	
	position: relative;
}

.neurosmart.fullscreen {
	top: 50vh;
	transform: translateY(-50%);
}

.neurosmart hr {
	border-color: red;
}

.neurosmart a {
	color: black;
}

.neurosmart .neurosmart-intro {
	position: absolute;
	width: 100%;
	height: 100%;
}

.neurosmart .neurosmart-intro.ns-hidden {
	/* display: none; */
}
	
.neurosmart .neurosmart-intro .neurosmart-content {
	position: relative;
	height: 100%;
}

.neurosmart-presentation {
	display: flex;
	height: 100%;
}

.neurosmart .neurosmart-presentation  .neurosmart-left-column{
	height: auto;
}

.neurosmart .neurosmart-presentation-content {
	box-sizing: border-box;
	width: 80vw;
	padding: 50px;
	float: left;
}

.neurosmart .neurosmart-presentation-content iframe {
	margin: 50px 0;
}

.neurosmart .neurosmart-logo {
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	background-size: contain;
	width: 10vw;
	height: 10vw;
	top:0;
	left:0;
	display: block;
}

.neurosmart .neurosmart-home-link {
	position: absolute;
	width: 10vw;
	top: 10vw;
	text-align: center;
}

.neurosmart .neurosmart-home-link a {
	/* for text */
	display: inline-block;
	font-size: 17px;
	padding-top: 20px;
}

.neurosmart .neurosmart-home-link .back-home-link {
	display: none;
}

.neurosmart .neurosmart-home-link .back-home-link.ns-visible {
	display: block;
}

.neurosmart .inria-logo {
	position: absolute;
	bottom: 2%;
	right: 1%;
	background-repeat: no-repeat;
	background-image: url(../images/inria.png);
	background-size: contain;
	width: 6%;
	height: 6%;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover {
	position: absolute;
	left:0;
	top:0;
	width: 50%;
	height: 100%;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover .cover-image {
	background-repeat: no-repeat;
	background-image: url(../images/MultiFacetedBrain.png);
	background-size: contain;
	background-position: right;
	width: 100vh;
	height: 100%;
	max-width:50vw;
	float: right;
}

.neurosmart .neurosmart-intro .neurosmart-content .cover .neurosmart-title {
	position: relative;
	top:50%;
	left:45%;
}

.neurosmart .neurosmart-intro .neurosmart-content .description {
	position: absolute;
	right: 0;
	width: 50%;
	bottom: 20px;
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content {
	width: 100%;
	height: 100%;
	padding:0 10% 0 5%;
	box-sizing: border-box;
	color: black;
	position: relative;
	float: left;
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content .description-content-footer {
	margin-top: 50px;
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content .description-content-footer .neurosmart-scenario-selector-parent {
	padding: 5px 0 5px;
	width: 35vw;
	background: #ffe500 url(../images/select-button.png) no-repeat right 0;
	overflow: hidden;
}

.neurosmart .neurosmart-intro .neurosmart-content .description-content .description-content-footer .neurosmart-scenario-selector {
	background: transparent;
	border: none;
	width: 40vw;
	padding: 1px 0 1px 5px;
	font-size: 1.2vw;
	line-height: 1.6vw;
}

.neurosmart .neurosmart-intro .neurosmart-content .description h1 {
	font-size: 2.2vw;
	line-height: 2.6vw; 
}

.neurosmart .neurosmart-intro .neurosmart-content .description .scenario-description {
	margin-bottom: 10px;
}

.neurosmart .neurosmart-intro .neurosmart-content .description .start-btn {
	display: none;
	cursor: pointer;
	padding:8px 80px 5px 8px;
	background-repeat: no-repeat;
	background-image: url(../images/start-arrow.png);
	background-size: contain;
	background-position: right;
	background-color: #ffe500;
	text-align: center;
}

.neurosmart button.time-navigation,
.neurosmart button.navigation {
	background-color:#ffe115;
	color: #000;
	font-weight: bold;
	height: 34px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	margin:0 5px;
	cursor: pointer;
}

.neurosmart button.navigation.accueil, .neurosmart button.navigation.home {
	background-image: url(../images/home.png);
	color:rgba(0,0,0,0);
}

.neurosmart button.navigation.previous, .neurosmart button.navigation.prev {
	background-image: url(../images/previous-arrow.png);
	width: 65px;
	color:rgba(0,0,0,0);
}

.neurosmart button.navigation.next {
	background-image: url(../images/next-arrow.png);
	width: 65px;
	color:rgba(0,0,0,0);
}

.neurosmart button.navigation.redo {
	background-image: url(../images/redo-arrow.png);
	color:rgba(0,0,0,0);
}

.neurosmart button.navigation.play {
	background-image: url(../images/pause.png);
	color:rgba(0,0,0,0);
}

.neurosmart button.navigation.play.paused {
	background-image: url(../images/play.png);
}

.neurosmart .neurosmart-intro .neurosmart-content .description .loading-progress {
	background-color: #ffe500; /* jaune */
	background-image: url(../images/start-arrow.png);
	background-size: 0 0;
	padding:8px 8px 5px 8px;
	display: inline-block;
}

.neurosmart .neurosmart-intro .neurosmart-content .description .start-btn.ns-ready {
	display: inline-block;
}

.neurosmart .neurosmart-app {
	opacity:0; /* n'empêche pas le chargement du canvas 3D */
	pointer-events: none;
}

.neurosmart .neurosmart-app {
	position: absolute;
	margin: 0 29px 20px 0;
	background-color: white;
	width: 100%;
	height: 100%;
}

.neurosmart .neurosmart-app .title {
}

.neurosmart .neurosmart-app.ns-visible {
	opacity:1;
	pointer-events: auto;
}

.neurosmart .title {
	height: 52px;
	font-weight: bold;
	padding: 8px 20px 0 20px;
	font-size: 1.4vw;
	line-height: 1.7vw;
}

.neurosmart .neurosmart-left-column {
	height: 100%;
	width: 10vw;
	float: left;
	left:0;
	top:0;
	background-color: rgba(226,226,226,0.3);
}

.neurosmart .neurosmart-left-column-content {
	padding: 5px;
	height: calc( 100% - 140px );
	position: relative;
}

.neurosmart .neurosmart-left-column-content ul.neurosmart-sequences {
	position: absolute;
	bottom: 50px;
	left:0;
	min-height: 100px;
	width: 100%;
	padding: 0 10px 0 20px;
	margin: 0;
	list-style-type: circle;
	list-style-position: outside;
	box-sizing: border-box;
}

.neurosmart .neurosmart-left-column-content ul.neurosmart-sequences li {
	margin-bottom: 8px;
	list-style-type: circle;
}

.neurosmart .neurosmart-left-column-content ul.neurosmart-sequences li.current {
	list-style-type: disc;
}

.neurosmart .neurosmart-left-column-content ul.neurosmart-sequences li a {
	font-size: 14px;
	text-decoration: none;
}

.neurosmart .neurosmart-left-column-content ul.neurosmart-sequences li a:hover {
	text-decoration: underline;
}


.neurosmart .neurosmart-app .neurosmart-content {
	width:calc( 100% - 10vw );
	box-sizing: border-box;
	height: calc(100% - 82px);
	float: left;
	background-color:white;
}

.neurosmart .neurosmart-app .neurosmart-content > div {
	float: left;
	position: relative;
	width: 50%;
	height: 100vh;
	padding: 10px 6px 10px 10px;
	box-sizing: border-box;
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-html-parent {
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-html-parent video {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-html-parent .ns-text p {
	padding-bottom: 20px;
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-html-parent .ns-text p:last-child {
	padding-bottom: 0;
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-html-parent .ns-text img {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	display: block;
}

.neurosmart .neurosmart-app .neurosmart-content .neurosmart-brain-parent {
	background-color: #f5f5f5;
	
}

.neurosmart .neurosmart-debug {
	float: none;
	position: absolute;
	top:0;
	left:0;
	background-color: #fae534;
	width:100%;
	height: 100%;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.8);
	display: none;
	z-index: 1;
}

.neurosmart .neurosmart-debug.minimized {
	top: calc(100% - 30px);
}

.neurosmart .neurosmart-debug .neurosmart-debug-tabs {
	height: 28px;
	padding-top: 5px;
	margin-left:30px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-tab {
	padding:6px 30px;
	margin: 0 4px 0 2px;
	float: left;
	cursor: pointer;
	/* inactive */
	background-color: rgba(255,255,255,0.5);
	color:darkgrey;
}

.neurosmart .neurosmart-debug .neurosmart-debug-minimize {
	float: right;
	cursor: pointer;
	color:darkgrey;
	margin: 1px 10px 0 10px;
	padding: 0 10px;
	font-size: 1.2em;
	background-color: rgba(255,255,255,0.5);
}

.neurosmart .neurosmart-debug .neurosmart-debug-minimize:hover {
	background-color: rgba(255,255,255,1);
}

.neurosmart .neurosmart-debug .neurosmart-debug-tab.active {
	color:black;
	background-color: rgba(255,255,255,1);
}

.neurosmart .neurosmart-debug .neurosmart-debug-camera {
	float: left;
	margin: 0 4px 0 2px;
	padding: 5px 10px;
	font-size: 15px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-camera .vars {
	font-weight: bold;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents {
	background-color: white;
	width:100%;
	height:100%;
	padding: 20px;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents > div {
	display: none;
}

.neurosmart .neurosmart-debug .neurosmart-debug-contents > div.active {
	display: block;
}

.neurosmart .neurosmart-debug .neurosmart-debug-content {
	width: 98%;
	height: calc( 100% - 80px );
	overflow:auto;
}

.neurosmart .neurosmart-debug-content.ns-json .number {
}

.neurosmart .neurosmart-debug-content.ns-json .boolean {
}

.neurosmart .neurosmart-debug-content.ns-json .string {
}

.neurosmart .neurosmart-debug-content.ns-json .key { 
	font-weight: bold;
	color: brown;
}

#neurosmart-html-content {
	margin-top: 50px;
	height: calc(100% - 140px);
	overflow-x: hidden;
	overflow-y: auto;
	color: black;
	padding-right: 4px;
}

#neurosmart-html-content::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}

#neurosmart-html-content::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.debug-mode #neurosmart-html-content {
	height: calc(90% - 90px);
}

#neurosmart-html-content .last {
	/* border-bottom: 1px solid red; */
}

#neurosmart-html-content .ns-text {
	font-size:1rem;
	padding: 2% 20px 1% 20px;
	color:black;
}

#neurosmart-html-content .ns-text ul {
	margin: 1% 0;
}

#neurosmart-html-content .ns-text a {
	color:black;
}

#neurosmart-html-content .ns-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	width: 100%;
	height: 60%;
	text-align: center;
	overflow-y: hidden;
	display: inline-block;
	margin-top: 2%;
}

#neurosmart-navigation {
	margin: 2px 0;
	height: 10%;
}

#neurosmart-brain {
	margin-left: 15px;
	width: 50vw;
	height: 50vw;
}


#neurosmart-brain canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.neurosmart.json {
	background-image: none;
	background-color: white;
	overflow: auto;
	border: 1px #000000 solid;
}

.neurosmart-footer {
	position: absolute;
	bottom: 0;
}

.neurosmart-footer > img {
	padding: 5px 5px 2px 5px;
}
	
.neurosmart-fullscreen {
	width:15px;
	height:15px;
	cursor: pointer;
}

/* CAS PARTICULIER : vue du cerveau seule (hors application) */

.brain-view #neurosmart-brain {
	/* viewport 3D portrait */
	position: absolute;
	margin-left: 0;
	left:0;
	top:calc( 50vh - 50vw );
	width: 100vw;
	height: 100vw;
}

@media screen and (orientation:landscape) {
	/* viewport 3D paysage */
	.brain-view #neurosmart-brain {
		width: 100vh;
		height: 100vh;
		left:calc( 50vw - 50vh );
		top:0;
	}
}

@media screen and (max-width: 1024px) {

	#neurosmart-html-content .ns-text {
		font-size: 0.9rem;
	}

	.neurosmart .neurosmart-home-link a {
		font-size: 14px;
	}
}
